.button {
  font-size: 1em; 
  font-weight: bold; 
  color: darkblue;
  padding: 8px 16px;
  background-color: #f0f0f0; 
  border: 2px solid darkblue; 
  cursor: pointer; 
  border-radius: 20px; 
  margin-right: 10px;
}